<header class="header", style="display: flex; justify-content: flex-end; padding: 10px 20px;">
  <nav>
    <%= link_to I18n.t('header.new_create'), new_memo_path, style: "text-decoration: none;" %>
  </nav>   
</header>