.header{
    background-color:#00bfff;
    color: #aaa;

.top-wrapper{
    color: #aaa;
    font-size: 30px;
    font-weight: 500;
    margin:0 auto 2rem;

.top-inner-text{
    line-height: 1.5;


@media screen and (max-width: 767px) {
    font-size: 2rem;
  }
}
}
}