<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   <% content_for :title, I18n.t('memos.index.title') %>
  </head>
  <body>
    <div class="top-wrapper">
    <div class="top-inner-text">
      </html><p style="color: green"><%= notice %></p>

      <h1><%= I18n.t('memos.index.title') %></h1>

    <div id="memos">
      <ul style="list-style-type: none;">
      <% @memos.each do |memo| %>
      <li>
        <%= link_to memo.title, memo_path(memo) %>
      </li>
      <% end %>
      </ul>
    </div>
    </div>
    </div>
  </body>
</html>
